/* General */
body{
    margin: 0px;
}
.container{
    font-family: 'Roboto', sans-serif;
}
.flex{
    display: flex;
}
.logo-text{
    color:#F9FAF8;
    font-size: 24px;
}
.main-text{
    color: #F9FAF8;
    font-size: 48px;
}
.secondary-text{
    color: #abacaf;
    font-size: 18px;
}
.button{
    background-color: #3882F6;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
    border: none;
    color: white;
}
.information-header{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}
.quote-text{
    color: #1F2937;
    font-size: 36px;;
    font-weight: 10;
    font-style: italic;
}

/* Header */
.header{
    background-color: #1F2937;
    justify-content: space-between;
    padding: 30px 100px 30px;
}
.header-containter{
    background-color: #1F2937;
}
.header-item{
    padding-right: 20px;
}

/* sectionOne */
.sectionOne{
    justify-content: space-evenly;
    background-color: #1F2937;
    padding: 30px 100px 30px;
}
.sectionOne-container{
    align-items: center;
    justify-content: center;
    flex: 1;
}
.place-holder{
    background-color: gray;
}

/* sectionTwo */
.sectionTwo{
    flex-direction: column;
    align-items: center;
    padding: 30px 100px 30px;
}
.sectionTwo-container{
    padding-top: 15px;
    padding-bottom: 15px;
}

.sectionTwo-items{
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 200px;
    margin: 40px;
    text-align: center;
}

.square{
    border-radius: 10px;
    border-color: #3882F6;
    border-style: solid;
    height: 175px;
    width: 175px;
}

/* sectionThree */
.sectionThree{
    background-color: #E5E7EB;
    flex-direction: column;
    padding: 200px 250px;
}
.right-adjust{
    padding: 5px;
    justify-content: right;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
}

/* sectionFour */
.sectionFour{
    background-color: white;
    padding: 100px 200px;
}
.sectionFour-container{
    background-color: #3882F6;
    padding: 50px 100px;
    border-radius: 10px;
    justify-content: space-between;
}

.sectionFour-button{
    border: solid;
    border-radius: 10px;
    border-color: white;
    color: white;
    padding: 1px 40px;
}

/* footer */
.footer{
    padding: 40px 100px;
    background-color: #1F2937;
    color: white;
    justify-content: center;
}