/* General */
body{
    margin: 0px;
}
.container{
    font-family: 'Roboto', sans-serif;
}
.flex{
    display: flex;
}
.logo-text{
    color:#F9FAF8;
    font-size: 24px;
}
.main-text{
    color: #F9FAF8;
    font-size: 48px;
}
.secondary-text{
    color: #E5E7EB;
    font-size: 18px;
}


/* Header */
.header{
    background-color: #1F2937;
    justify-content: space-between;
}
.header-containter{
    padding: 20px;
    background-color: #1F2937;

}
.header-item{
    padding-right: 20px;
}

/* sectionOne */
.sectionOne{
    justify-content: space-evenly;
    background-color: #1F2937;
}
.sectionOne-container{
    align-items: center;
    justify-content: center;
    flex: 1;
}